* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
}

body {
    margin: 0;
}

.wrapper {
    margin: auto;
    max-width: 960px;
    width: 90%;
}

li {
    list-style: none;
}

sup {
    font-size: 0.6em;
}

nav {
    text-align: center;
    padding: 25px;
    background-color: #1f1f56;

}

.navigation {
    display: none;

}

.burger {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 20px;
    transition: .5s;
}

span {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 7px;
    transform: translate(0, -50%);
    background-color: #fff;
    border-radius: 2px;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 7px;
    left: 0;
    border-radius: 2px;
    background-color: #fff;
}

.burger::before {
    top: 0;

}

.burger::after {
    bottom: 0;

}

.touched {
    position: absolute;
    top: 13px;
    left: 15px;
    transform: rotate(180deg);
    transition: .5s;
}

.touched span {
    width: 120%;
    transform: rotate(45deg);
}

.touched::after {
    width: 120%;
    top: 15px;
    transform: rotate(-45deg);

}

.touched::before {
    display: none;
}

.opened {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    width: 75%;
    position: absolute;
    top: 50px;
    left: 50%;
    animation: slide 1s linear forwards;
    transform: translate(-50%, 0);
    border-radius: 0 0 10px 10px;
    background-color: #242475;
    z-index: 1;

}

@keyframes slide {
    0% {
        display: none;
        opacity: 0;
        transform: translate(-50%, -150%);
    }

    1% {

        display: flex;
        flex-direction: column;
    }

    100% {
        display: flex;
        opacity: 1;
        transform: translate(-50%, 0);

    }
}

nav li {
    margin-bottom: 12px;
}

.mainmenu {
    margin-bottom: 32px;
}

.mainmenu li a {
    color: #b1b1d2;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Arial";
    text-decoration: none;
    transition: 0.3s;
}

.mainmenu>li:hover>a,
.email p:hover a,
.phone p:hover a {
    color: #fd8300;

}

.socials {
    display: flex;
    text-align: center;
    column-gap: 32px;
}
.socials li{
    display: flex;
    align-items: center;
}


.socials a {
    display: block;
    background: url(../img/icons.png);
    transition: 0.3s;
}

a.fb {
    width: 11px;
    height: 21px;
    background-position: 0 0;

}

a.tw {
    width: 21px;
    height: 17px;
    background-position: -14px 0;
}

a.inst {
    width: 21px;
    height: 22px;
    background-position: -37px 0;
}

.fb:hover {
    background-position: 0 -24px;
}

.tw:hover {
    background-position: -14px -24px;
}

.inst:hover {
    background-position: -37px -24px;
}


.header-info,
.navigationbottom {
    display: flex;
    align-items: center;
    row-gap: 20px;
    column-gap: 30px;
justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.header-info{
    padding: 30px 0;
}


.header-info div,
.navigationbottom div {
    margin: auto;
}

.phn {
    position: relative;
}

a.phn:before {
    content: "";
    position: absolute;
    width: 19px;
    height: 21px;
    top: 0;
    left: -30px;
    background: url(../img/icons.png), no-repeat;
    background-position: -62px 0;
}

.phone a {
    color: #25252c;
    font-size: 18px;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    transition: .5s;

}

.phone p:first-child,
.email p:first-child {
    margin-bottom: 8px;
}

.phone p,
.email p {
    padding-left: 30px;
}

.email a {
    color: #25252c;
    font-size: 16px;
    text-decoration: underline;
    font-family: "Arial";
    transition: .3s;
}

.eml {
    position: relative;

}

a.eml:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 15px;
    top: 0;
    left: -30px;
    background: url(../img/icons.png), no-repeat;
    background-position: -84px 0;
}

a.skype {
    text-decoration: none;
}

.skype {
    position: relative;
}

a.skype:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    left: -30px;
    background: url(../img/icons.png), no-repeat;
    background-position: -106px 0;
}


.buttoncall a {
    display: inline-block;
    padding: 14px 30px;
    color: #25252c;
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
    border: 2px solid #fd8300;
    border-radius: 25px;
    transition: .3s;
}

.buttoncall a:hover {
    background-color: #fd8300;
}

.footer-line {
    padding: 43px 0 30px;
    background-color: #ededf5;
}

.navigationbottom {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    flex-wrap: wrap;
}

.bottommenu a {
    color: #666;
    font-size: 14px;
    line-height: 26px;
    font-family: "Arial";
    text-decoration: none;
    transition: .3s;
}

.bottommenu li:hover a {
    color: #fd8300;
    text-decoration: underline;
    transition: .3s;
}

.minw {
    min-width: 220px;
    text-align: center;
}

.coperate {
    padding: 16px;
    text-align: center;
    background-color: #dcdce6;
}

.coperate p {
    color: #9999a6;
    font-size: 13px;
    font-family: "Arial";
    text-align: center;
}

@media screen and (min-width:600px) {
    .header-info div{
        margin: 0;
    }
    .header-info,
    .navigationbottom{
        justify-content: space-between;
    }
    .email {
        text-align: left;
    }

    .opened {
        width: 50%;
    }
}

@media screen and (min-width:720px) {
   
    .wrapper {
        width: 80%;
    }

}

@media screen and (min-width:1024px) {

    nav li {
        margin-bottom: 0;
    }

    .mainmenu {
        display: flex;
        gap: 25px;
        margin: 0;
    }

    .burger {
        display: none;
    }

    .navigation,
    .header-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .minw {
        text-align: start;

    }
}

@media screen and (min-width:1126px) {
    .header-info {
        position: relative;
    }
    .header-info div{
      margin: auto;
    }

    .header-info::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 51px;
        background: #e4e4ec;
        top: calc(50% - 25px);
        left: 50%;
    }

    .header-info div.buttoncall {
        margin: 0;
    }

}